*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.vscode
Thumbs.db




# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# Custom
/node_modules
/wp-content/themes/lavandre/node_modules
wp-content/themes/lavandre/node_modules/
/vendor
.wpe-devkit
.lighthouseci
.wpe-pull-ignore
.wpe-push-ignore
wp-content/mu-plugins
wp-content/languages/loco
wp-content/languages/plugins

# Environment files
.env
.env.local
.env.development
.env.staging
