# ignore node dependency directories
node_modules/

# ignore node dependency directories
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore jest test results
jest

# Ignore build assets
# public/

# Ignore cypress test results
cypress/screenshots
