.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-grid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 2.5rem;

    @media (--tablet) {
        flex-direction: row;
    }

    & > * {
        flex: 1 1 0;
    }
}
