.eicon-close:before {
    display: none;
}

.eicon-close:after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;

    display: block;
    width: 20px;
    height: 20px;

    background: url('/wp-content/themes/hello-elementor-child/public/images/icons/close.svg') no-repeat center;
    background-size: contain;
}

#elementor-popup-modal-5370 .dialog-close-button {
    right: 30px;
}
