@import "_kit.pcss";
@import "_eicons.pcss";
@import "_theme.pcss";

.side-panel--my-account-lost-pasword {
    display: none;
}

.password-forget-active {
    .side-panel--my-account {
        display: none;
    }

    .side-panel--my-account-lost-pasword {
        display: block;
    }
}
