.bg-saltpan {
    background-color: $saltpan;
}

.bg-alabaster {
    background-color: $alabaster;
}

.bg-platinum {
    background-color: $platinum;
}

.bg-old-burgundy {
    background-color: $old-burgundy;
}

.bg-beau-blue {
    background-color: $beau-blue;
}


