
@import "variables/variables.pcss";
@import "elementor/elementor.pcss";
@import "typography/typography.pcss";
@import "elements/elements.pcss";
@import "layout/layout.pcss";
@import "components/components.pcss";
@import "helpers/helpers.pcss";

.hide {
    display: none !important;
}

::-moz-selection {
    color: #FFFFFF;
    background: #F6A800;
}

::selection {
    color: #FFFFFF;
    background: #F6A800;
}
