$white: #FFFFFF;
$black: #000000;
$salmon: #FFF9F5;

$color-text: #444444;

$color-shadow: #E6E6E6;

$color-border: #D1D1D1;
$color-border-2: #E1DDD9;
$color-border-3: #818a91;
$color-border--active: #444444;
$color-danger: #9B090D;

$color-disabled: #585858; // more contrast ratio (accessilbiliy) than above color

$color-bg-gray: #F6F6F6;

$color-gold: #B79C07;
$color-green: #0A4C30;
$color-accent: #f5faf5;


