@import "_flex.pcss";
@import "_header.pcss";
@import "_footer.pcss";

#affwp-affiliate-dashboard-tabs {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.affwp-wrap {
    margin-bottom: 1rem;
}
