@import "../variables/variables.pcss";

.tippy-box {
    box-shadow: none !important;
}

.tippy-content {
    padding: 1rem;
    background: var(--white);
    color: var(--color-text);

    p {
        font-size: 14px;
    }

    box-shadow: 0 2px 6px 0 rgba(0,0,0,.5);
    border-radius: 3px;
}

[data-placement^=top] > .tippy-arrow  {
    border-top-color: var(--white);
    z-index: 999;
}

[data-placement^=bottom] > .tippy-arrow  {
    border-bottom-color: var(--white);
    z-index: 999;
}
