#instagram-feed {
    padding-top: 7.5rem;
    padding-bottom: 0;
    line-height: 0;


    h2 {
        text-align: left;
        font-weight: 100;
        line-height: 2.4;
    }
}

.lightwidget-widget {
    background-color: var(--jet);
}
