.latest-order {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.latest-order__image {
    flex: 0 0 20%;
}

.latest-order__date {
    flex: 0 0 60%;
    font-size: 1rem;
}

.latest-order__read-more a {
    color: var(--color-border-2);
}
