.legal-list {
    justify-content: center;

    @media (--tablet-landscape) {
        justify-content: unset;
    }
}

.legal-list__item {
    display: flex;
    align-items: center;

    &:not(:first-child):before {
        content: " | ";
    }
}

.legal-list__anchor {
    padding: 0 10px;
}
