.paymentmethod-list {
    justify-content: flex-start;
    margin-bottom: 1.25rem;
}

.paymentmethod-list__item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 1rem;
}

// #TODO: Rewrite up to breakpoint
@media (--up-to-tablet) {
    .paymentmethod-list {
        justify-content: center;
    }
}
