.ww-timeline {
    border-left: 5px solid var(--color-border-2);
    margin-left: 0.5rem !important;
}

.ww-timeline__item {
    padding-left: 1rem;
}

.ww-timeline__icon {
    position: relative;
    left: calc(-2rem - 2.5px);

    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-border-2);

    svg {
        width: 1rem;
        height: 1rem;
    }
}
