@import "variables/variables.pcss";
@import "layout/_footer.pcss";
@import "components/components.pcss";
@import "helpers/helpers.pcss";
@import "animations/animations.pcss";

@import "./elements/elements.pcss";


.grecaptcha-badge {
    display: none !important;
}
