@import "variables/variables.pcss";
@import "layout/_block.pcss";
@import "layout/_benefit-block.pcss";
@import "layout/_banner-block.pcss";
@import "layout/_main-top-banner.pcss";
@import "components/components.pcss";
@import "helpers/helpers.pcss";
@import "animations/animations.pcss";
@import "layout/_footer.pcss";

@import "./elements/elements.pcss";

.grecaptcha-badge {
    display: none !important;
}
